[Unit]
Description=Kiosk Wayland Session
After=multi-user.target graphical.target

[Service]
User=pi
TTYPath=/dev/tty1
PAMName=login
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="WLR_NO_HARDWARE_CURSORS=1"
Environment="XCURSOR_THEME=transparent"
Restart=always
TimeoutStartSec=10
ExecStart=/usr/bin/cage -d -- /home/pi/bin/scripts/startkiosk.sh
StandardError=journal

[Install]
WantedBy=default.target
